<div class="form-container"></div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2>Iniciar Sesión</h2>
    <div>
      <label for="username">Usuario</label>
      <input id="username" formControlName="username" type="text">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small>El valor debe ser un correo valido.</small>
      </div>
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small>La contraseña es requerida (mínimo 6 caracteres).</small>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
  <br>
  <button [routerLink]="['/register']">Registrate</button>
  <br>
  <button (click)="loginWithGoogle()">Iniciar sesión con Google</button>
  <div class="" id="google-button"></div>
</div>

<div class="modal" *ngIf="loginError">
  <div class="modal-content">
    <span class="close" (click)="loginError = null">×</span>
    <h2>Error de Inicio de Sesión</h2>
    <br>
    <p>{{ loginError }}</p>
  </div>
</div>