<div class="container">
  <h1>Generar Claves SSH</h1>

  <div class="form">
    <div>
      <strong>Nombre de usuario:</strong>
      <span>{{ usuario?.userName }}</span>
    </div>
    <button (click) = "generarLlaves()">Generar</button>
    <button (click)="downloadPrivateKey()">Descargar Llave Privada</button>
  </div>

  <div class="keys">

    <div>
      <strong>Llave privada:</strong>
      <br>
      <span>{{ usuario?.privateKey }}</span>
    </div>
    <div>
      <strong>Llave pública:</strong>
      <br>
      <span>{{ usuario?.publicKey }}</span>
    </div>
  </div>
</div>
