<div class="container">
  <h1>Generar Claves SSH</h1>

  <div class="form">
    <div>
      <strong>Nombre de usuario: </strong>
      <span>{{ username }}</span>
    </div>
    <input type="text" [(ngModel)]="keyId" placeholder="Ingresa el Key ID" />
    <button (click) = "generarLlaves()">Generar</button>
    <button (click)="downloadPrivateKey()">Descargar Llave Privada</button>
  </div>

  <div class="keys">

    <div>
      <strong>Llave privada:</strong>
      <br>
      <span>{{ usuario?.privateKey}}</span>
    </div>
    <div>
      <strong>Llave pública:</strong>
      <br>
      <span>{{ usuario?.publicKey }}</span>
    </div>
  </div>
</div>



<div class="generated-keys">
  <h2>Llaves Generadas</h2>
  <table>
    <thead>
    <tr>
      <th>Key ID</th>
      <th>Llave Pública</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let key of keys">
      <td>{{ key.identificador }}</td>
      <td>{{ key.publicKey }}</td>
    </tr>
    </tbody>
  </table>
</div>



<div class="modal" *ngIf="keysError">
  <div class="modal-content">
    <span class="close" (click)="keysError = null">×</span>
    <h2>Error de Inicio de Sesión</h2>
    <p>{{ keysError }}</p>
  </div>
</div>



