<div class="file-upload">
  <input type="file" (change)="onFileSelected($event)"/>
  <button (click)="uploadFiles()">Subir Archivos</button>
</div>
<h1>Mis Documentos</h1>
<table>
  <thead>
  <tr>
    <th>Nombre del Archivo</th>
    <th>Compartir</th>
    <th>Firmar</th>
    <th>Compartido Con</th>
    <th>Eliminar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td>{{ file.name }}</td>
    <td>
      <input type="text" placeholder="Ingresa el usuario a compartir" [(ngModel)]="shareWith">
      <button (click)="shareFile(file.id)">Compartir</button>
    </td>
    <td>
      <button (click)="signFile()">Firmar Archivo</button>
    </td>
    <td>
      <button (click)="openPopup(file.shared)">Ver</button>
    </td>
    <td>
      <button (click)="deleteFile(file.id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="popup" *ngIf="isPopupOpen">
  <div class="popup-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <h2>Compartir Archivo</h2>
    <table>
      <thead>
      <tr>
        <th>Usuario</th>
        <th>Gestionar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let name of shared">
        <td>{{ name }}</td>
        <td>
          <button (click)="stopSharing()">Dejar de compartir</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h1>Compartidos conmigo</h1>
<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Propietario</th>
    <th>Firmar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sharedFile of sharedWithMe">
    <td>{{ sharedFile.name }}</td>
    <td> {{ sharedFile.owner }}</td>
    <td>
      <button (click)="signFile()">Firmar</button>
    </td>
  </tr>
  </tbody>
</table>
